.header {
  font-family: 'Inter';
  padding: 96px 0 77px;
}

.header__title {
  font-size: 50px;
  line-height: 64px;
  font-weight: 600;
  color: var(--black);
}

.header__logo {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 110px;
  height: 32px;
  object-fit: cover;
}
