.component-detail {
  box-shadow: 0px 2px 4px 0px #2124290d;
  background-color: var(--white);
  border-radius: 12px;
  padding: 32px 48px;
}

.component-detail__title {
  font-family: Inter;
  line-height: 38px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .component-detail__title {
    font-size: 28px;
    font-weight: 400;
  }
}
