/* Стилизация аккордеона */

.accordion__summary {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.accordion__content {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--gray-4);
}

.accordion__summary::-webkit-details-marker {
  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

.accordion__item {
  border: 1px solid;
  border-color: var(--gray-3);
  padding: 24px 32px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}
