.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

.page__main_cards {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .page__main_cards {
    padding: 68px 0;
    gap: 30px;
  }
}

.page_template {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
