.main {
  background-color: var(--grey-1);
}

.main_grid {
  padding: 68px 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.main_card {
  display: flex;
  background-color: var(--white);
  height: 367px;
  width: 350px;
  border-radius: 12px;
  align-items: end;
  justify-content: center;
}

.main_card__title {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
}
