@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/main/main.css';
@import '../../components/page/page.css';
@import '../../components/card/card.css';
@import '../../components/template-wrapper/template-wrapper.css';
@import '../../components/aside/aside.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../components/component-detail/component-detail.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-1: #5028c6;
  --blue: #374fc7;
  --blue-1: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --primary-active: var(--blue-1);
  --secondary-active: var(--purple-1);
}

body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--black);
}
