.calendar {
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  padding: 16px 24px 24px;
  font-family: Inter;
}

.calendar__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--grey-4);
  text-align: center;
}

.calendar__wrapper {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__cell {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--grey-4);
}

.calendar__cell_inner_selected {
  background-color: rgba(160, 177, 245, 0.2);
}

.calendar__cell_outer_selected {
  background-color: var(--purple);
  color: var(--white);
}

.calendar__cell_weekday {
  cursor: default;
  color: var(--grey-3);
  font-size: 14px;
}
