.skeleton {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 16px 24px;
}

.skeleton__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.skeleton__header_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.skeleton__avatar {
  background-color: var(--grey-2);
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.skeleton__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 24px;
  gap: 8px;
}

.skeleton__text {
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  height: 20px;
}

.skeleton__header_content > .skeleton__text:first-child {
  width: 40%;
}

.skeleton__header_content > .skeleton__text:last-child {
  width: 60%;
}
