.footer {
  font-family: 'Inter';
  padding: 96px 0 77px;
}

.footer__title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.footer__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.footer__caption {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: var(--grey-3);
  text-align: center;
}

.foter_theme_gray {
  background-color: var(--grey-1);
}
