.footer {
  font-family: 'Inter';
  padding: 96px 160px 77px;
}

.footer__title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.footer__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}
