.checkbox {
  display: inline-block;
  position: relative;
}

.checkbox__input {
  opacity: 0;
  position: absolute;
  left: -100vw;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--primary);
}

.checkbox__label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--grey-4);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
  color: var(--grey-2);
}

.checkbox__icon {
  visibility: hidden;
  color: var(--white);
  width: 15px;
  height: 15px;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  visibility: visible;
}
