.burger-menu {
  font-family: Inter;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--grey-1);
  transform: translateX(-100vw);
  transition: transform 250ms ease-out;
  padding: 16px;
}

.burger-menu__header {
  height: 64px;
}

.burger-menu[data-open] {
  transform: translateX(0);
}

.burger-menu__close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey-2);
  border: none;
  position: absolute;
  left: 12px;
  top: 16px;
}

@media screen and (min-width: 768px) {
  .burger-menu-open,
  .burger-menu {
    display: none;
  }
}

.burger-menu__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--grey-3);
  margin-top: 24px;
}

.burger-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.burger-menu__link {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.burger-menu__link:hover {
  text-decoration: underline;
}

.burger-menu__link_active {
  color: var(--red);
}

.burger-menu__item_separated {
  margin-top: 72px;
}
