.background {
  width: 100%;
  height: 100%;
  background-image: url(./public/forest_400.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url(./public/forest_768.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .background {
    background-image: url(./public/forest_1024.jpg);
  }
}

@media screen and (min-width: 2560px) {
  .background {
    background-image: url(./public/forest_2560.jpg);
  }
}
